@tailwind base;
@tailwind components;
@tailwind utilities;

/* pallete link */
/* https://coolors.co/ba60f6-121212-4f97db-ead814-f1f1f1 */

:root {
  --dark: #121212;
  --light: #F1F1F1;
  --primary: #BA60F6;
  --accent-blue: #4F97DB;
  --accent-yellow: #EAD814; 
  --gradient: lineear-gradient(--accent-blue, --primary, --accent-yellow);
}

body {
  background: var(--dark);
  scroll-behavior: smooth;
  max-width: 100dvw;
  overflow-x: hidden;
  color: white;
}

body::-webkit-scrollbar {
  width: 0;
}

.gradient {
  background: linear-gradient(to right, var(--accent-blue), var(--primary), var(--accent-yellow));
}

.gradient-text {
  background: linear-gradient(to right, var(--accent-blue), var(--primary), var(--accent-yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

